// background
$color-background-main: #ffffff;
$color-background-second: #F7F7F7;
$color-background-accent: #191C26;

// text
$color-text-main: #303030;
$color-text-second: #555555;
$color-text-white: #ffffff;
$color-text-light: rgba(157, 164, 189, 0.6);

// accent
$color-accent: #FF6C00;

// icon
$color-icon: #9DA4BD;

// fonts
$font-family-main: 'Open Sans', sans-serif;
$font-family-logo: 'Raleway', sans-serif;

// transition
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);