.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @include mq(mobile) {
        width: 448px;
    }

    @include mq(tablet) {
        width: 720px;
    }

    @include mq(desktop) {
        width: 1200px;
    }
}