.container {
    width: 100%;

    margin: 0 auto;
    padding: 0 31px;


    @include mq(mobile) {
        width: 418px;
    }

    @include mq(tablet) {
        width: 690px;
    }

    @include mq(desktop) {
        width: 1200px;
    }
}